#projects {
  margin: 10em auto ;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectDiv {
  width: 70%;
}

h2 {
  /* text-transform: lowercase; */
  color: var(--blushPink);
  font-size: 2em;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.singleProject {
  height: 70vh;
  display: flex;
  align-items: center;
  margin: 2em auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-bottom: 2em;
}

.projectImg {
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImg > div {
  height: 80%;
  width: 80%;
}

img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  height: 100%;
  width: 100%;
}

.aboutProject {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2em;
}

.techStack {
  display: flex;
}

.techStack li {
  padding: 0 5px;
}

.projectDesc {
  text-align: left;
  width: 100%;
}

.btn-outline.btn-primary {
  color: var(--grayText);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.btn-outline.btn-primary:hover {
  /* color: white; */
  background: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width: 1250px) {
  .singleProject {
    flex-direction: column;
    height: 80%;
  }

  .projectImg {
    padding: 2em 0;
    width: 70%;
    /* height: 50%; */
  }

  .aboutProject {
    width: 100%;
    height: 60%;
    align-items: center;
    /* padding: 2em; */
  }

  .projectDesc {
    text-align: center;
  }
}

@media (max-width: 620px) {

  /* #projects {
    margin: 7em auto;
  } */

  .projectDiv {
    width: 100vw;
  }

  .projectImg {
    width: 100%;
  }
}
