#projects {
  margin: 5em auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDiv {
  width: 70%;
}

h2 {
  font-size: 2em;
}

.singleProject {
  background-color: lightpink;
  border: 1px solid black;
  height: 70vh;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.projectImg {
  background-color: purple;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImg > div {
  height: 80%;
  width: 80%;
  background-image: url('./assets/snake.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutProject {
  background-color: greenyellow;
  height: 90%;
  width: 60%;
}

@media (max-width: 1250px) {
  .singleProject {
    flex-direction: column;
    height: 80vh;
  }

  .projectImg {
    width: 100%;
    height: 60%;
  }

  .aboutProject {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 620px) {
  .projectDiv {
    width: 100vw;
  }

  .projectImg > div {
    width: 100%;
  }
}