#about {
  color: var(--grayText);
  margin: 5vh auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_content {
  width: 70%;
  height: 80%;
  margin-top: 2em;
  display: flex;
  /* height: 80vh; */
}



.brief {
  border-right: 0.1px solid rgba(255, 255, 255, 0.753);
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.profile_pic {
  height: 100px;
  width: 80px;
  border-radius: 50%;
  background-image: url("./assets/IMG_4712_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2vmin;
  border: 0.5px solid white;
  box-shadow: var(--blushPink) 0px 5px 10px -5px,
  var(--blushPink) 0px 5px 10px -5px;
}

p {
  width: 80%;
  text-align: center;
  font-size: 18px;
  font-size: 18px;
  color: rgba(107, 106, 106, 0.801)
}

.skills {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  text-align: center;
  margin: auto;
  width: 100%;
  /* height: 100%; */
}

.row {
  display: flex;
  /* padding: auto 10px; */
}

.example-container div {
  background: rgba(255, 255, 255, 0.842);
  border-radius: 5%;
  width: 3em;
  height: 3em;
  padding: 10px;
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon-container {
  /* background-color: rgba(255, 255, 255, 0.464); */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3em;
  width: 3em;
  margin: 1em 1.5em;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icon-name {
  color: var(--grayText);
  margin-top: 15px;
  text-align: center;
  /* font-family: "EB Garamond", serif; */
  letter-spacing: 1px;
}

.draw {
  /* border: 0.5px solid black; */
  padding: 0.03em 0.5em 0.3em;
  border-radius: 5px;
  display: flex;
}

.rotate-p {
  background: none !important;
  color: white !important;
  padding-top: 0 !important;
  font-family: "EB Garamond", serif;
  letter-spacing: 2px;
}

#horizontalHr{
  display: none;
}

.hr_text {
  font-size: 1.5em;
  color: var(--blushPink);
}


@media (max-width: 1250px) {
  #about {
    margin: 0 auto;
    flex-direction: column;
    /* height: 100%; */
  }

  .brief {
    width: 70%;
    margin: 1vmin auto;
    padding-bottom: 4vmin;
    border: none;
    /* padding-top: 3vmin; */
    /* border-top: 0.5px solid rgba(255, 255, 255); */
    border-bottom: 0.5px solid rgba(255, 255, 255);
  }

  /* .skills {
    height: 100vh;
  } */

  .about_content {
    flex-direction: column;
  }

  #verticalHr {
    display: none;
  }

  #horizontalHr{
    display: flex;
    margin-top: 1em;
  }

  .row {
    margin: 5px 1px;
  }

  
}


@media (max-width: 620px) {
  /* h2 {
    width: 80%;
  } */
  #about {
    width: 100vw;
    background: none;
    border-radius: 0;
  }

  .about_content {
    margin-top: 1em;
    width: 100vw;
  }

  .brief {
    width: 90%;
    margin: 3vmin auto;
    padding-top: 5vmin;
  }

  .skills {
    /* border-bottom: 1px solid white; */
    padding-bottom: 5vmin ;
    width: 90%;
  }

}


