#about {
  display: flex;
  color: var(--grayText);
  height: 70vh;
  width: 70vw;
  margin: 5vh auto;
}

h2 {
  font-size: 2em;
  width: 70vw;
  margin: auto;
}

.brief {
  border-right: 0.1px solid rgba(255, 255, 255, 0.753);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_pic {
  height: 100px;
  width: 80px;
  border-radius: 50%;
  background-image: url("./assets/IMG_4712_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2vmin;
  border: 0.5px solid white;
}

p {
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.example-container div {
  background: rgba(255, 255, 255, 0.842);
  border-radius: 5%;
  width: 3em;
  height: 3em;
  padding: 10px;
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon-container {
  background-color: rgba(255, 255, 255, 0.464);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3em;
  width: 3em;
  margin: 1em 1.5em;
  border-radius: 5%;
  padding: 10px;
}

.icon-name {
  color: var(--grayText);
  margin-top: 15px;
  text-align: center;
  /* font-family: "EB Garamond", serif; */
  letter-spacing: 1px;
}

.express {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.rotate-p {
  background: none !important;
  color: white !important;
  padding-top: 0 !important;
  font-family: "EB Garamond", serif;
  letter-spacing: 2px;
}


@media (max-width: 1250px) {
  #about {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
  }

  .brief {
    width: 70%;
    margin: 1vmin auto;
    padding-bottom: 4vmin;
    border: none;
    padding-top: 3vmin;
    /* border-top: 0.5px solid rgba(255, 255, 255); */
    border-bottom: 0.5px solid rgba(255, 255, 255);
  }
}

@media (max-width: 620px) {
  h2 {
    width: 100%;
  }
  #about {
    width: 100vw;
    background: none;
    border-radius: 0;
  }

  .brief {
    width: 90%;
    margin: 3vmin auto;
    padding-top: 5vmin;
  }

  .skills {
    /* border-bottom: 1px solid white; */
    padding-bottom: 5vmin ;
    width: 90%;
  }
}


