.h1_text{
    font-size: 2em;
    color: var(--grayText);
    /* text-shadow: 2px 2px rgba(128, 0, 0, 0.65); */
    /* text-shadow: 6px 4px 8px rgba(128, 0, 0, 0.35); */
}

.name{
    font-size: 5em;
    letter-spacing: 10px;
    opacity: 1;

    /* text-shadow: 6px 4px 8px rgba(128, 0, 0, 0.65); */
    text-shadow: 3px 0px 18px pink;

}

h1 {
    margin-bottom: 2vmin ;
}

.homePage {
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.homePage > div {
    margin-top: 5vh;
    text-align: center;
    border-radius: 10px;
    /* background-color: rgba(163, 130, 160, 0.533); */
    width: 70vw;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


@media (max-width: 620px) {
    .homePage > div {
        border-radius: 0;
        width: 100%;
        background: none;
        height: 100%;
    }
}