/* #footer {
  width: 100vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

footer {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_title {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: 1em;
}

.footer_h4 {
  color: var(--blushPink);
}

.vertical_line {
  margin-left: 5em;
}

.footer_ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input_box {
  width: 100%;
  background: rgba(255, 255, 255, 0.201);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.inbox_email {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    justify-content: center;
    padding: 0.3em;
    width: 50%;
    margin: auto auto 0.5em;
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_div {
  width: 100%;
  display: flex;
  align-items: center;
}

.logos {
  margin-right: 0.2em;
  display: inline-block;
  color: var(--blushPink);
}

.links_tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links_tag:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition: all 0.2s ease-in;
}

.modal-box {
    background-color: var(--background);
}

label {
    font-family: "EB Garamond", serif !important;
    font-size: 15px;
}

.close_btn_form {
    align-items: center;
}

.cls_btn {
    padding: 0 3em;
} */








/* .footer_text {
  background-color: white;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
} */


#footerSection {
  width: 100vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

footer {
  background-color: rgba(255, 192, 203, 0.498);
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.footerContent {
  /* background-color: white; */
  display: flex;
  align-items: center;
  width: 80%;
  height: 20em;
}

.social {
  /* background-color: purple; */
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding: 2em */
}

.emailJSForm {
  /* background-color: green; */
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRights {
  background-color: rgba(255, 192, 203, 0.698);
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.footer_ul {
  height: 2em;
  display: flex;
  justify-content: space-evenly;
}

.logos {
  font-size: 1.5em;
  color: var(--blushPink);
  margin: 0 1em;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_box {
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.201);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#footer_heading {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.smallHR {
  display: none !important;
}

.msgIcon {
  display: inline;
  color: var(--blushPink);
  /* color: rgba(128, 128, 128, 0.592); */
}

@media (max-width: 1050px) {
  footer {
    width: 100%;
    padding: 0;
  }

  .footerContent {
    margin: 2em auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .social {
    width: 90%;
    margin-bottom: 1em;
  }

  .social > p {
    margin: 1em auto;
  }

  .emailJSForm {
    margin-top: 1em;
  }

  .smallHR {
    display: flex !important;
  }
}

@media (max-width: 640px) {
  .social {
    width: 100%;
  }

  .emailJSForm {
    width: 100%;
    
  }
}



