* {
    box-sizing: border-box;
}

body {
    /* --background: rgb(240, 237, 229); */
    --background: white;
    /* --grayText: rgb(166, 173, 187); */
    --grayText: rgba(107, 106, 106, 0.801);
    --blushPink: rgba(222, 175, 183, 0.859);
    --blushPink: rgb(216, 142, 146);;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

.App {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    font-family: "EB Garamond", serif;
    font-size: 18px;
    letter-spacing: 0.05em;
    /* color: rgba(107, 106, 106, 0.901) */
    color: black;
}

.header_text {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
  }

.name_text {
    font-family: "Lora", serif;
    /* text-transform: lowercase; */
    letter-spacing: 0.25rem;
    font-weight: lighter;
}

.madimi {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: karla, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.eb {
    font-family: "EB Garamond", serif !important;
}

h2 {
    background-color: rgba(255, 192, 203, 0.498);
    font-size: 2em;
    width: 30%;
    margin: auto;
    border-radius: 10px;
  }

  .section_header {
    width: 30% !important;
  }

  @media (max-width : 1250px) {
    h2 {
        width: 48% !important;
      }

      .section_header {
        width: 70% !important;
      }
  }

@media (max-width : 620px) {
    h2 {
        width: 60% !important;
      }

      .section_header {
        width: 60% !important;
      }

    .App {
        background-color: var(--background);
    }
}