* {
    box-sizing: border-box;
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ; */
    background-image: url('https://images.unsplash.com/photo-1594734415578-00fc9540929b?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    /* background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* background-color: white; */
}

.App {
    height: 100%;
}

