/* .bg-base-100 {
    background-image: url('https://images.unsplash.com/photo-1594734415578-00fc9540929b?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
} */

.navbar {
    position: fixed;
    z-index: 999999999;
}

.bg-base-100 {
    background-color: rgba(163, 130, 160);

}

.navbar-start {
    width: 100% !important;
}

.lg\:flex{
    width: 100vw;
    justify-content: space-around;
}

.menu-horizontal {
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.horizontalNav {
    padding-top: 0.5rem;
    color: white;
    font-size: 20px;
    font-family: "EB Garamond", serif;
    letter-spacing: 2px;
}

.w-5 {
    color: rgba(163, 130, 160);
}

.w-52 {
    
    opacity: 1;
}

.dropdown-content {
    background-color: rgba(163, 130, 160) !important;
    width: 98.5vw;
}

@media (max-width: 1023px) {
    .bg-base-100 {
        background: none;
    }
}

/* @media (max-width: 620px) {
    .bg-base-100 {
        background-color: rgba(163, 130, 160, 0.333);
    }
} */