/* .navbar {
    position: fixed;
    z-index: 999999999;
}

.bg-base-100 {
    background-color: rgba(163, 130, 160);
    padding: 8px 0;
    background: none;
    display: flex;
    align-content: space-around;
}

.navbar-start {
    width: 100% !important;
}

.lg\:flex{
    display: none;
    width: 100vw;
    justify-content: space-around;
}

.lg\:hidden {
    display: flex;
}

.menu-horizontal {
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.horizontalNav {
    padding-top: 0.5rem;
    color: white;
    font-size: 20px;
    font-family: "EB Garamond", serif;
    letter-spacing: 2px;
}

.w-5 {
    color: rgba(163, 130, 160);
}

.w-52 {
    opacity: 1;
}

@media (min-width: 620px) {
    .dropdown-content {
        background-color: rgba(163, 130, 160) !important;
        width: 100vw; 
        height: 100%;
        border-radius: 0;
    }
}

@media (max-width: 1200px) {
    .bg-base-100 {
        background: none;
    }
}

@media (max-width: 620px) {
    .dropdown-content {
        background-color: rgba(163, 130, 160) !important;
        width: 100vw; 
        border-radius: 0;
    }

    .bg-base-100 {
        text-align: center;
      align-items: center;
    }

    .bg-base-100 li{
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .bg-base-100 li a {
       width: 100%; 
       text-align: center;
       margin: auto;
       display: flex;
       justify-content: center;
    }
} */

.navbar {
  position: fixed;
  z-index: 999999999;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.container {
  margin: 0;
}

.bg-none {
  background-color: transparent !important; /* Important to override default styles */
}

.bg-white-expanded {
    /* position: absolute; */
    /* height: 108%; */
  /* background-color: rgb(90, 88, 88) */
  background-color: white;
}

.navbar-toggler {
    border: none;
    /* color: var(--blushPink); */
    background-color: rgba(131, 120, 122, 0.317);
}

.navbar-toggler:focus {
  box-shadow: none;
}
/* bg-body-tertiary */
